<%- include('partials/_header'); %> <%- include('partials/_navigation'); %>
<div class="back_re">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>About Training</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about -->
<div class="about">
  <div class="container">
    <div class="row d_flex">
      <div class="col-md-5">
        <div class="titlepage">
         <h3 ><%= training.name %> </h3>
         <p> <%= training.description %></p>
          
        </div>
      </div>
      <div class="col-md-7">
        <div class="about_img">
          <figure><h2><%=training.user.name %></h2><img src="<%= training.image %>" alt="#" />
          </figure>
        </div><br>
        <% if (user.role === 'member' && !(user.trainings.includes(training._id)) ) { %> 
        
          <form method="POST" action="/trainings/enroll">
            <input type="hidden" name="training_id" value="<%= training._id %>">
            <button class="btn btn-lg btn-warning text-white"><span>ENROLL</span></button>
          </form>
        
        <% } %>
  
      </div>
    </div>
  </div>
</div>
<!-- end about -->

<%- include('partials/_footer'); %>
